button {
    box-shadow: $box-shadow;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 42px;
    line-height: 42px;
    padding: 0 16px;
    margin-bottom: 2%;
    width:50%;
  }
