#app{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    height: 100vh;

}

.quad {
    width:48%;
    margin:3px;
    padding:2px;
}

%card {
    text-transform:uppercase;
    padding: 6%;
    height: 48vh;
    border-radius: 8px;
    color: white;
    text-align: center;

}

@each $action, $quadrant-color in $quad-list{
    .card-#{$action} {
        @extend %card;
        background-color: $quadrant-color;
        .button-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 0 0;
        }
    }
}
