#app{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.quad {
    // border: solid black 2px;
    width:48%;
    margin:5px;
    padding:5px;
}

%card {
    // border: solid black 2px;
    border-radius: 8px;

}

@each $action, $quadrant-color in $quad-list{
    .card-#{$action} {
        @extend %card;
        background-color: $quadrant-color;
        .button-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 5% 0;
            button {
                width:30%;
                margin-bottom: 2%;
            }
        }
    }
}
